<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>

    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

      <a class="navbar-brand" href="{{ url_for('index') }}">OptimalFlow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('logs') }}">LogsViewer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('viz') }}">Visualization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('parameters') }}">SearchingSpace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('docs') }}">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('about') }}">Author</a>
      </li>
    </ul>
  </div>

  </div>

    <a href="https://github.com/tonyleidong/OptimalFlow/fork"><button class="btn btn-warning">Fork This</button> </a>
</nav>


{% block body %}


{% endblock %}


<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>
</html>