{% extends 'base.html' %}

<!-- {% block title %} Home {% endblock %} -->

{% block body %}

<input id="myFile" type="file"/>
<textarea id="myTextArea" rows="4" columns="20"></textArea>
<script>
    var reader = new FileReader();
reader.onload = function (e) {
    var textArea = document.getElementById("myTextArea");
    textArea.value = e.target.result;
};
reader.readAsText(file);
</script>

<div class="container">
    <h1>Logs</h1>
    <p>Quickly Check the Logs of OptimalFlow, which is Supported by autoFlow Module.</p>
    <div>
        <form role="form" method='POST' action='/logs' enctype = "multipart/form-data" class = "row d-flex justify-content-center">
            <p class="btn-space mr-1">
                <input type='file' name='file' id='file' class='inputfile' hidden>
                <label class="btn btn-primary btn-sm" for = "file">Pick a Log</label>
            </p>
            <p class="btn-space">
                <input class="btn btn-secondary btn-sm" type="submit" value="Load Log File" onclick="loading();">
            </p>

          </form>
    </div>

</div>
{% if extracted_values %}
<!-- <iframe src={{url_for('static',filename = logfile) }} frameborder="0"></iframe> -->
<input id="myFile" type="file"/>
<textarea id="myTextArea" rows="4" columns="20"></textArea>
<script type="text/javascript">
    var reader = new FileReader();
    reader.onload = function (e) {
        var textArea = document.getElementById("myTextArea");
        textArea.value = e.target.result;
    };
    reader.readAsText(file);
</script>

{% else %}
<div id="loading">
    <div class="row d-flex justify-content-center">
        <i class="fa fa-gear fa-spin" style="font-size:40px;"></i>
    </div>
</div>
<div id="content" class="jumbotron bg-light">
    <div class="row mt-para justify-content-center">Pick a new Log File and Click 'Load Log File' Button</div>

</div>
{% endif %}
  <!-- Footer -->
  <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <p class="m-0 text-white">Copyright &copy; Tony Dong 2020</p>
    </div>
    <!-- /.container -->
</footer>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
