{% extends 'base.html' %}

{% block title %} OptimalFlow Logs Viewer{% endblock %}

{% block body %}

<div class="container">
  <h2></h2>
  <h1>Logs Viewer</h1>
  <p class="lead">Quickly Check the Logs of OptimalFlow, which is Supported by autoFlow Module.</p>

  <form role="form" method='POST' action='/logs/'>
    <label>Select Log File: </label>
     <select class="custom-select" size="4" name = "logfile">
         <option value = "autoPP_log_">Feature Preprocessing - autoPP Module's Logs</option>
         <option value="autoFS_log_">Feature Selection(No Records when PCTE Mode) - autoFS Module's Logs</option>
         <option value="autoCV_log_">Model Selection & Evaluation - autoCV Module's Logs</option>
         <option value="autoPipe_log_">PCTE Workflow - autoPipe Module's Logs</option>
       </select>
       <div>

        <p>
           
        </p>
      </div>
    <button type="submit" class="btn btn-primary btn-block" name="run_btn" value = "Clicked_Run" >View Log File</button>
  </form>

</div>

<div>

  <p>
     
  </p>
</div>
  <!-- Footer -->
  <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <p class="m-0 text-white">Copyright &copy; Tony Dong 2020</p>
    </div>
    <!-- /.container -->
</footer>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
