{% extends 'base.html' %}

<!-- {% block title %} Home {% endblock %} -->

{% block body %}
<div class="container">
    <h1>About Me</h1>
    <p><img src="{{url_for('static', filename = 'img/profile.jpg')}}" width="180" height="180"> </p>
    <p class = "lead">I am a healthcare & pharmaceutical data scientist and big data Analytics & AI enthusiast, living in Boston area. </p>
    <p class = "lead">In my spare time, I developed OptimalFlow library to help data scientists building optimal models in an easy way, and automate Machine Learning workflow with simple codes.</p> 
    <p class = "lead">As a big data insights seeker, process optimizer, and AI professional with years of analytics experience, I use machine learning and problem-solving skills in data science to turn data into actionable insights while providing strategic and quantitative products as solutions for optimal outcomes.</p>
    <p class = "lead">You can connect with me on my <a href="linkedin.com/in/lei-tony-dong">LinkedIn</a> or <a href="https://github.com/tonyleidong">GitHub</a>.</p>    
</div>
  <!-- Footer -->
  <footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <p class="m-0 text-white">Copyright &copy; Tony Dong 2020</p>
    </div>
    <!-- /.container -->
</footer>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   {% endblock %}
