{% extends 'base.html' %}

<!-- This Web app was built with Python via the Flask framework. -->

{% block body %}

<div class="container">
    <h2></h2>
    <h1>Welcome to OptimalFlow Web App </h1>
    <p class="lead">Quickly build Pipeline Cluster Traversal Experiments (PCTE) here:</p>


<img src="{{url_for('static', filename = 'img/OptimalFlow_Workflow.PNG')}}" alt="PCTE" width="1100" height="350">


    <!-- Page Features -->
    <div class="row text-center">
<!-- Load dataset -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <!-- <img class="card-img-top" src="http://placehold.it/300x200" alt="load dataset" width="500" height="200"> -->
            <div class="card-body">
              <h3 class="card-title">Load Dataset</h3>
              <p class="card-text">Step 1 - Import the cleaned dataset here:</p>
            </div>
            <div class="card-footer">
              <!-- <a href="#" class="btn btn-primary">Select Dataset</a> -->
              <!-- <form method="POST" action='/'>
                <label class="btn btn-primary">
                    Browse <input type="file" hidden name ="filename">
                </label>
                <div>
                    <input type="submit" class="btn btn-success" value = 'Load It'/>
                  </div>
              </form> -->
            
              <div class="modal fade" id="modalLoginForm0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form role="form" method='POST' action='/'>
                      <div class="form-group">

                        <div><label>Select one Dataset(.csv file) from ./input Folder:</label></div>
                        <label class="btn btn-primary">Browse Dataset<input type="file" hidden name ="filename"></label>
                        <div><label>Set The Label Feature(Column)</label></div>
                        <div class="mx-auto" style="width: 350px;">
                          <input class="form-control align-items-center" type="text" name = "label_col" placeholder="Enter Lable Column Name Here:" autofocus required>
                        </div>

                      </div>
                      
                      <button type="submit" class="btn btn-primary" id="code">APPLY</button>
                      <div>
                          <a href="https://optimal-flow.readthedocs.io">*Check Documentation </a>
                      </div>
                    </form>
  
                   </div>
              </div>
            </div>
            
            <div class="text-center">
              <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLoginForm0">Set Parameters</a>
            </div>
            
            </div>
          </div>
        </div>
<!-- autoPP   -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <!-- <img class="card-img-top" src="http://placehold.it/300x200" alt="autoPP settings" width="500" height="200"> -->
            <div class="card-body">
              <h3 class="card-title">autoPP</h3>
              <p class="card-text">Step 2 - Set custom parameters of autoPP here:</p>
            </div>
            <div class="card-footer">
            <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <form role="form" method='POST' action='/'>
                    <div class="form-group">
                      <div><label>Set Threshold of Category Dimension('encode_band')</label></div>
                      <div class="mx-auto" style="width: 350px;">
                        <input class="form-control" type="number" name = "encode_band" placeholder="i.e. 5" id="example-number-input" autofocus required>
                      </div>
                      <label for="FormControlSelect1">Select Model Type</label>
                      <div class="mx-auto" style="width: 350px;">
                        <select class="form-control" id="FormControlSelect1" name = "model_type_pp">
                            <option value = "cls">Classification</option>
                            <option value = "reg">Regression</option>
                        </select>
                      </div>

                      <label>Set Algorithms for Scaler('scaler'): </label>
                      <div class="mx-auto" style="width: 350px;">
                       <select multiple class="custom-select" size="5" name = "scaler">
                           <option value = "None">None approach involve in scaling step</option>
                           <option value="standard">StandardScaler() approach</option>
                           <option value="minmax">MinMaxScaler()</option>
                           <option value="maxabs">MaxAbsScaler() approach</option>
                           <option value="robust">RobustScaler() approach</option>
                         </select>
                      </div>

                       <label>Set Algorithms for Low-dimension Encoding('low_encode'): </label>
                       <div class="mx-auto" style="width: 350px;">
                        <select multiple class="custom-select" size="5" name = "low_encode">
                            <option value = "onehot">onehot</option>
                            <option value="label">label</option>
                            <option value="frequency">frequency</option>
                            <option value="mean">mean</option>
                          </select>
                       </div>
                       <label>Set Algorithms for High-dimension Encoding('high_encode): </label>
                       <div class="mx-auto" style="width: 350px;">
                        <select multiple class="custom-select" size="5" name = "high_encode">
                            <option value = "onehot">onehot</option>
                            <option value="label">label</option>
                            <option value="frequency">frequency</option>
                            <option value="mean">mean</option>
                          </select>
                       </div>
                       <label>Set Winsorizer Ratio('winsorizer'):</label>
                       <div class="mx-auto" style="width: 350px;">
                        <select multiple class="custom-select" size="3" name = "winsorizer">
                            <option value = 0.01>(0.01,0.01)</option>
                            <option value=0.05>(0.05,0.05)</option>
                            <option value=0.1>(0.1,0.1)</option>
                          </select>
                       </div>
                       <div><label>Set Sparsity Limitation('sparsity'):</label></div>
                       <div class="mx-auto" style="width: 350px;">
                         <input name = "sparsity" placeholder="i.e. 0.5" autofocus required>
                       </div>
                       <div><label>Set Columns Number Limitation('cols')</label></div>
                       <div class="mx-auto" style="width: 350px;">
                         <input class="form-control" type="number" name = "cols" placeholder="i.e. 200" id="example-number-input" autofocus required>
                       </div>
                      
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="code">APPLY</button>
                    <div>
                        <a href="https://optimal-flow.readthedocs.io/en/latest/autoPP.html">*Check Documentation </a>
                    </div>
                  </form>

                 </div>
            </div>
          </div>
          
          <div class="text-center">
            {% if thePercent>=25 %}
            <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLoginForm">Set Parameters</a>
            {% else %}
            <a href="" class="btn btn-primary disabled" data-toggle="modal" data-target="#modalLoginForm" >Set Parameters</a>
            {% endif %}
          </div>

            </div>
          </div>
        </div>
<!-- autoFS -->
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <!-- <img class="card-img-top" src="http://placehold.it/300x200" alt="autoPP settings" width="500" height="200"> -->
              <div class="card-body">
                <h3 class="card-title">autoFS</h3>
                <p class="card-text">Step 3 - Set custom parameters of autoFS here:</p>
              </div>
              <div class="card-footer">
                  
              <div class="modal fade" id="modalLoginForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form role="form" method='POST' action='/'>
                      <div class="form-group">
                        <div><label>Set Number of Selected Features</label></div>
                        <div class="mx-auto" style="width: 350px;">
                          <input class="form-control align-items-center" type="number" name = "feature_num" placeholder="i.e. 5" id="example-number-input1" autofocus required>
                        </div>
                        <label for="FormControlSelect2">Select Model Type</label>
                        <div class="mx-auto" style="width: 350px;">
                          <select class="form-control" id="FormControlSelect2" name = "model_type_fs">
                            <option value = "cls">Classification</option>
                            <option value = "reg">Regression</option>
                          </select>
                        </div>
  
                         <label>Set Algorithms for Features Selection</label>
                         <div class="mx-auto" style="width: 350px;">
                          <select multiple class="custom-select" size="10" name = "algo_fs">
                            <option>------Classification Features Selectors------</option>
                            <option value = "kbest_f" >kbest_f</option>
                            <option value="kbest_chi2">kbest_chi2</option>
                            <option value="rfe_lr">rfe_lr</option>
                            <option value="rfe_svm">rfe_svm</option>
                            <option value="rfecv_svm">rfecv_svm</option>
                            <option value="rfe_tree">rfe_tree</option>
                            <option value="rfecv_tree">rfecv_tree</option>
                            <option value="rfe_rf">rfe_rf</option>
                            <option value="rfecv_rf">rfecv_rf</option>
                            <option>------Regression Features Selectors------</option>
                            <option value = "kbest_f">kbest_f</option>
                            <option value="rfe_svm">rfe_svm</option>
                            <option value="rfecv_svm">rfecv_svm</option>
                            <option value="rfe_tree">rfe_tree</option>
                            <option value="rfecv_tree">rfecv_tree</option>
                            <option value="rfe_rf">rfe_rf</option>
                            <option value="rfecv_rf">rfecv_rf</option>
                            </select>
                         </div>
  
                        
                      </div>
                      
                      <button type="submit" class="btn btn-primary" id="code">APPLY</button>
                      <div>
                          <a href="https://optimal-flow.readthedocs.io/en/latest/autoFS.html">*Check Documentation </a>
                      </div>
                    </form>
  
                   </div>
              </div>
            </div>
            
            <div class="text-center">
              {% if thePercent>=50 %}
              <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLoginForm1">Set Parameters</a>
              {% else %}
              <a href="" class="btn btn-primary disabled" data-toggle="modal" data-target="#modalLoginForm1">Set Parameters</a>
              {% endif %}
            </div>
  
              </div>
            </div>
          </div>
<!-- autoCV   -->
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <!-- <img class="card-img-top" src="http://placehold.it/300x200" alt="autoCV settings" width="500" height="200"> -->
            <div class="card-body">
              <h3 class="card-title">autoCV</h3>
              <p class="card-text">Step 4 - Set custom parameters of autoCV here:</p>
            </div>
            <div class="card-footer">
                <div class="modal fade" id="modalLoginForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <form role="form" method='POST' action='/'>
                        <div class="form-group">
                            <label for="FormControlSelect2">Select Model Type</label>
                            <div class="mx-auto" style="width: 350px;">
                              <select class="form-control" id="FormControlSelect2" name = "model_type_cv">
                                <option value = "cls">Classification</option>
                                <option value = "reg">Regression</option>
                              </select>
                            </div>
                            <label>Select Hyperparameter Tuning Strategy:</label>
                            <div class="mx-auto" style="width: 350px;">
                             <select class="custom-select" size="6" name = "method_cv">
                                 <option>------Classification Tuning------</option>
                                 <option value = dynaClassifier>Grid-Search Tuning for Classification</option>
                                 <option value= fastClassifier>Random(Fast) Tuning for Classification</option>
                                 <option>------Regression Tuning------</option>
                                 <option value = dynaRegressor>Grid-Search Tuning for Regression</option>
                                 <option value= fastRegressor>Random(Fast) Tuning for Regression</option>
                               </select>
                            </div>
                           <label>Set Estimators for Model Selection</label>
                           <div class="mx-auto" style="width: 350px;">
                            <select multiple class="custom-select" size="10" name = "algo_cv">
                              <option>------Classification Estimators------</option>
                              <option value = "lgr" >LogisticRegression()</option>
                              <option value="svm">SVM.SVC()</option>
                              <option value="mlp">MLPClassifier()</option>
                              <option value="ada">AdaBoostClassifier()</option>
                              <option value="rf">RandomForestClassifier()</option>
                              <option value="gb">GradientBoostingClassifier()</option>
                              <option value="xgb">XGBClassifier()</option>
                              <option value="lsvc">LinearSVC()</option>
                              <option value="hgboost">HistGradientBoostingClassifier()</option>
                              <option value="sgd">SGDClassifier()</option>
                              <option value="rgcv">RidgeClassifierCV()</option>
                              <option>------Regression Estimators------</option>
                              <option value = "lr" >LinearRegression()</option>
                              <option value="knn">KNeighborsRegressor()</option>
                              <option value="svr">SVM.SVR()</option>
                              <option value="rf">RandomForestRegressor()</option>
                              <option value="ada">AdaBoostRegressor()</option>
                              <option value="gb">GradientBoostingRegressor()</option>
                              <option value="tree">DecisionTreeRegressor()</option>
                              <option value="mlp">MLPRegressor()</option>
                              <option value="xgb">XGBRegressor()</option>
                              <option value="hgboost">HistGradientBoostingRegressor()</option>
                              <option value="huber">RidgeClassifierCV()</option>
                              <option value="rgcv">RidgeCV()</option>
                              <option value="cvlasso">LassoCV()</option>
                              <option value="sgd">SGDRegressor()</option>
                              </select>
                           </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" >APPLY</button>
                        <div>
                            <a href="https://optimal-flow.readthedocs.io/en/latest/autoCV.html">*Check Documentation </a>
                        </div>
                      </form>
    
                     </div>
                </div>
              </div>
              
              <div class="text-center">
                {% if thePercent>=75 %}
                <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalLoginForm2">Set Parameters</a>
                {% else %}
                <a href="" class="btn btn-primary disabled" data-toggle="modal" data-target="#modalLoginForm2">Set Parameters</a>
                {% endif %}
              </div>
  
          </div>
        </div>
      </div>
      <!-- /.row -->
    <div class="col align-self-center">
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Settings Progress:</strong>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script> $(".progress-bar").css("width", "{{thePercent}}" + "%").text("{{thePercent}}" + " %"); </script>
      </div>

        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Almost Done!</strong> Click Below to Start Builder.
        </div>
        <form role="form" method='POST' action='/'>
          {% if thePercent==100 %}
          <button type="submit" class="btn btn-primary btn-block" name="run_btn" value = "Clicked_Run" >Build PCTE Workflow</button>
          {% else %}
          <button type="submit" class="btn btn-primary btn-block" name="run_btn" value = "Clicked_Run" disabled>Build PCTE Workflow</button>
          {% endif %}
        </form>
    </div>
</div>

<!-- <div>
  <div class="form-group shadow-textarea">
    <label for="exampleFormControlTextarea6"><strong>Terminal Outputs:</strong></label>
    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="5">
      <p>
        Instructions: 
      </p>
    </textarea>
  </div>
</div> -->

</div>
<div>

  <p>
     
  </p>
</div>

  <!-- Footer -->
<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <p class="m-0 text-white">Copyright &copy; Tony Dong 2020</p>
    </div>
    <!-- /.container -->
</footer>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#MyModal').on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    })
</script>
<script type="text/javascript">
    function readURL(){
      var fullPath = document.getElementById('upload').value;
      if (fullPath) {
          var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
          var filename = fullPath.substring(startIndex);
          if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
              filename = filename.substring(1);
          }
         document.getElementById("filename").value = filename;
      }
    }
    </script>

{% endblock %}